In [1]:
import pandas as pd
import numpy as np

In [2]:
companies_selected = pd.read_excel("Companies.xlsx")

In [3]:
companies_selected.shape

(79, 5)

In [4]:
companies_selected.head()

           Company Name   Industry  Beta Value Grade    TSR
0  NextEra Energy (NEE)  Utilities        0.49     B  53.47
1     Duke Energy (DUK)  Utilities        0.38     C  57.51
2    Atmos Energy (ATO)  Utilities        0.50     B  54.13
3        Avangrid (AGR)  Utilities        0.34     A  -8.57
4     Otter Tail (OTTR)  Utilities        0.69     A  87.72

In [5]:
# since TSR is in % we will grade wight in % as well
grade_weight = {"A": 90, "B": 80, "C": 70, "D": 60, "E": 50, "F": 40}
companies_selected["GradeWeight"] = companies_selected["Grade"].map(grade_weight)

In [6]:
def calculate_grade_score(data, x):
    return (1 - x) * data["TSR"] + x * data["GradeWeight"]

In [7]:
def monte_carlo_simulation(
    data, max_industry_allocation=0.16, max_stock_allocation=0.045, target_beta=1.0
):
    best_portfolio = None
    best_portfolio_beta = float("inf")
    best_run = None

    for iteration in range(
        65000, 80000
    ):  # We want to keep the grade wight at a minumum of 0.65 of the total caluclation
        weight_factor = iteration / 100000  # Fraction for Grade Score calculation

        # Normalize TSR:
        data["Industry TSR total"] = data.groupby("Industry")["TSR"].transform("sum")
        data["Weighted TSR"] = data["TSR"] / data["Industry TSR total"]

        # Calculate Grade Score:
        data["Grade Score"] = data.apply(
            calculate_grade_score, axis=1, args=(weight_factor,)
        )

        # Calculate Weight:
        data["Weight"] = data["Grade Score"] / data["Grade Score"].sum()

        # Apply industry-level restrictions:
        data["Industry Allocation"] = data.groupby("Industry")["Weight"].transform(
            "sum"
        )
        data["Allocation_by_restriction"] = np.where(
            data["Industry Allocation"] > max_industry_allocation,
            max_industry_allocation,
            data["Industry Allocation"],
        )

        # Normalize Weights based on restrictions:
        data["Normalised Weight"] = np.where(
            data["Allocation_by_restriction"] == max_industry_allocation,
            (data["Weight"] / data["Industry Allocation"]) * max_industry_allocation,
            data["Weight"],
        )

        # Calculate Portfolio Beta:
        portfolio_beta = (data["Beta Value"] * data["Normalised Weight"]).sum()

        # Check if this portfolio is better:
        if portfolio_beta < best_portfolio_beta:
            test = weight_factor
            best_portfolio_beta = portfolio_beta
            best_run = iteration
            best_portfolio = data.copy()
            print(best_run, best_portfolio_beta)

    return test, best_run, best_portfolio_beta, best_portfolio

In [ ]:
def monte_carlo_simulation(
    data, max_industry_allocation=0.16, max_stock_allocation=0.045, target_beta=1.0
):
    best_portfolio = None
    best_portfolio_beta = float("inf")
    best_run = None

    for iteration in range(
        65000, 80000
    ):  # We want to keep the grade wight at a minumum of 0.65 of the total caluclation
        weight_factor = iteration / 100000  # Fraction for Grade Score calculation

        # Normalize TSR:
        data["Industry TSR total"] = data.groupby("Industry")["TSR"].transform("sum")
        data["Weighted TSR"] = data["TSR"] / data["Industry TSR total"]

        # Calculate Grade Score:
        data["Grade Score"] = data.apply(
            calculate_grade_score, axis=1, args=(weight_factor,)
        )

        # Calculate Weight:
        data["Weight"] = data["Grade Score"] / data["Grade Score"].sum()

        # Apply industry-level restrictions:
        data["Industry Allocation"] = data.groupby("Industry")["Weight"].transform(
            "sum"
        )
        data["Allocation_by_restriction"] = np.where(
            data["Industry Allocation"] > max_industry_allocation,
            max_industry_allocation,
            data["Industry Allocation"],
        )

        # Normalize Weights based on restrictions:
        data["Normalised Weight"] = np.where(
            data["Allocation_by_restriction"] == max_industry_allocation,
            (data["Weight"] / data["Industry Allocation"]) * max_industry_allocation,
            data["Weight"],
        )

        # ------------------------------------------------------------------------stock level restriction
        # data["stock_Allocation_by_restriction"] = np.where(
        #     data["Normalised Weight"] > max_stock_allocation,
        #     max_stock_allocation,
        #     data["Normalised Weight"],
        # )

        # data["Normalised Weight"] = np.where(
        #     data["Allocation_by_restriction"] == max_industry_allocation,
        #     (data["Weight"] / data["Industry Allocation"]) * max_industry_allocation,
        #     data["Weight"],
        # )
        # ------------------------------------------------------------------------stock level restriction
        # Calculate Portfolio Beta:
        portfolio_beta = (data["Beta Value"] * data["Normalised Weight"]).sum()

        # Check if this portfolio is better:
        if portfolio_beta < best_portfolio_beta:
            test = weight_factor
            best_portfolio_beta = portfolio_beta
            best_run = iteration
            best_portfolio = data.copy()
            print(best_run, best_portfolio_beta)

    return test, best_run, best_portfolio_beta, best_portfolio

In [8]:
test, run_no, final_beta, ideal_portfolio = monte_carlo_simulation(companies_selected)
print(f"best run: {run_no} final_beta: {final_beta} ")
print(ideal_portfolio)

65000 0.8796795000604941
best run: 65000 final_beta: 0.8796795000604941
                                Company Name          Industry  Beta Value  \
0                       NextEra Energy (NEE)         Utilities        0.49
1                          Duke Energy (DUK)         Utilities        0.38
2                         Atmos Energy (ATO)         Utilities        0.50
3                             Avangrid (AGR)         Utilities        0.34
4                          Otter Tail (OTTR)         Utilities        0.69
..                                       ...               ...         ...
74  COSTCO WHOLESALE CORPORATION (XNAS:COST)  Consumer Staples        0.79
75      DOLLAR GENERAL CORPORATION (XNYS:DG)  Consumer Staples        0.45
76       COLGATE-PALMOLIVE COMPANY (XNYS:CL)  Consumer Staples        0.41
77            THE HERSHEY COMPANY (XNYS:HSY)  Consumer Staples        0.37
78                    UNILEVER PLC (XBUE:UL)  Consumer Staples        0.23

   Grade    TSR  GradeWeight  Industry TSR total  Weighted TSR  Grade Score  \
0      B  53.47           80              358.64      0.149091      70.7145
1      C  57.51           70              358.64      0.160356      65.6285
2      B  54.13           80              358.64      0.150931      70.9455
3      A  -8.57           90              358.64     -0.023896      55.5005
4      A  87.72           90              358.64      0.244591      89.2020
..   ...    ...          ...                 ...           ...          ...
74     D  17.43           60              177.69      0.098092      45.1005
75     B  14.09           80              177.69      0.079295      56.9315
76     A  15.40           90              177.69      0.086668      63.8900
77     B  12.95           80              177.69      0.072880      56.5325
78     B  12.83           80              177.69      0.072204      56.4905

      Weight  Industry Allocation  Allocation_by_restriction  \
0   0.009452             0.087150                   0.087150
1   0.008772             0.087150                   0.087150
2   0.009483             0.087150                   0.087150
3   0.007418             0.087150                   0.087150
4   0.011923             0.087150                   0.087150
..       ...                  ...                        ...
74  0.006028             0.077816                   0.077816
75  0.007609             0.077816                   0.077816
76  0.008540             0.077816                   0.077816
77  0.007556             0.077816                   0.077816
78  0.007551             0.077816                   0.077816

    Normalised Weight
0            0.009452
1            0.008772
2            0.009483
3            0.007418
4            0.011923
..                ...
74           0.006028
75           0.007609
76           0.008540
77           0.007556
78           0.007551

[79 rows x 13 columns]

In [9]:
ideal_portfolio

,Company Name,Industry,Beta Value,Grade,TSR,GradeWeight,Industry TSR total,Weighted TSR,Grade Score,Weight,Industry Allocation,Allocation_by_restriction,Normalised Weight
0,NextEra Energy (NEE),Utilities,0.49,B,53.47,80,358.64,0.149091,70.7145,0.009452,0.087150,0.087150,0.009452
1,Duke Energy (DUK),Utilities,0.38,C,57.51,70,358.64,0.160356,65.6285,0.008772,0.087150,0.087150,0.008772
2,Atmos Energy (ATO),Utilities,0.50,B,54.13,80,358.64,0.150931,70.9455,0.009483,0.087150,0.087150,0.009483
3,Avangrid (AGR),Utilities,0.34,A,-8.57,90,358.64,-0.023896,55.5005,0.007418,0.087150,0.087150,0.007418
4,Otter Tail (OTTR),Utilities,0.69,A,87.72,90,358.64,0.244591,89.2020,0.011923,0.087150,0.087150,0.011923
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,COSTCO WHOLESALE CORPORATION (XNAS:COST),Consumer Staples,0.79,D,17.43,60,177.69,0.098092,45.1005,0.006028,0.077816,0.077816,0.006028
75,DOLLAR GENERAL CORPORATION (XNYS:DG),Consumer Staples,0.45,B,14.09,80,177.69,0.079295,56.9315,0.007609,0.077816,0.077816,0.007609
76,COLGATE-PALMOLIVE COMPANY (XNYS:CL),Consumer Staples,0.41,A,15.40,90,177.69,0.086668,63.8900,0.008540,0.077816,0.077816,0.008540
77,THE HERSHEY COMPANY (XNYS:HSY),Consumer Staples,0.37,B,12.95,80,177.69,0.072880,56.5325,0.007556,0.077816,0.077816,0.007556
78,UNILEVER PLC (XBUE:UL),Consumer Staples,0.23,B,12.83,80,177.69,0.072204,56.4905,0.007551,0.077816,0.077816,0.007551

In [10]:
ideal_portfolio["Normalised Weight"].sum()

0.871516904975013

In [11]:
ideal_portfolio["final_weight"] = (
    ideal_portfolio["Normalised Weight"] / ideal_portfolio["Normalised Weight"].sum()
) * 100

In [12]:
round(ideal_portfolio["final_weight"].sum(), 2) == 100.00

True

In [13]:
ideal_portfolio.sort_values(by="final_weight", ascending=False)

,Company Name,Industry,Beta Value,Grade,TSR,GradeWeight,Industry TSR total,Weighted TSR,Grade Score,Weight,Industry Allocation,Allocation_by_restriction,Normalised Weight,final_weight
44,NVDA,Technology,1.76,C,2694.86,70,4829.52,0.557997,988.7010,0.132150,0.288483,0.160000,0.073294,8.409901
25,Eli Lilly and Company (LLY),Healthcare,0.42,C,675.16,70,1435.04,0.470482,281.8060,0.037666,0.136636,0.136636,0.037666,4.321918
40,TSLA,Technology,2.12,A,1236.11,90,4829.52,0.255949,491.1385,0.065646,0.288483,0.160000,0.036409,4.177629
10,Interactive Brokers (IBKR),Finance,0.79,D,303.51,60,1525.19,0.198998,145.2285,0.019411,0.139116,0.139116,0.019411,2.227297
11,LPL Financial (LPLA),Finance,0.85,C,276.95,70,1525.19,0.181584,142.4325,0.019038,0.139116,0.139116,0.019038,2.184416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,"Hitachi, Ltd. (OTCM:HTHIY)",Industruals,1.15,D,8.50,60,125.13,0.067929,41.9750,0.005610,0.069275,0.069275,0.005610,0.643750
61,"UNITED PARCEL SERVICE, INC. (XNYS:UPS)",Industruals,0.98,D,6.04,60,125.13,0.048270,41.1140,0.005495,0.069275,0.069275,0.005495,0.630545
64,Siemens AG (XBUE:SIEGY),Industruals,1.22,E,8.50,50,125.13,0.067929,35.4750,0.004742,0.069275,0.069275,0.004742,0.544062
48,COIN,Technology,3.34,B,-10.57,80,4829.52,-0.002189,48.3005,0.006456,0.288483,0.160000,0.003581,0.410845
47,SNOW,Technology,1.37,A,-47.52,90,4829.52,-0.009839,41.8680,0.005596,0.288483,0.160000,0.003104,0.356130

In [87]:
final_port = ideal_portfolio[["Company Name"]]

In [88]:
# ---------------------------------------------------------------------- EVERYTHING BELOW IS FOR TESTING OUT PORTFOLIO (WIP CURRENTLY)

In [89]:
tickers = ["AAPL", "MSFT", "GOOG"]  # Example tickers
final_port = pd.DataFrame(index=tickers)

In [90]:
start_date = "2023-01-01"

# Generate the start of each month for the next 10 months
month_starts = pd.date_range(
    start=start_date, periods=10, freq="MS"
)  # 'MS' = Month Start

# Create a DataFrame with 10 empty columns (NaN values)
new_columns = pd.DataFrame(
    np.nan, index=final_port.index, columns=month_starts.strftime("%Y-%m-%d")
)

# Concatenate the existing DataFrame with the new columns
df_updated = pd.concat([final_port, new_columns], axis=1)
df_updated

,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01,2023-07-01,2023-08-01,2023-09-01,2023-10-01
AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MSFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GOOG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
import pandas as pd
import yfinance as yf


# Define the get_returns function
def get_returns(ticker, month):
    # Ensure ticker is a string
    ticker = str(ticker)

    # Use datetime to handle the month and year
    start_date = pd.to_datetime(month)
    end_date = start_date + pd.DateOffset(months=1)

    # Format dates as strings: 'YYYY-MM-DD' format
    start_date = start_date.strftime("%Y-%m-%d")
    end_date = end_date.strftime("%Y-%m-%d")

    # Download data for the ticker for the given month
    df_updated = yf.download(ticker, start=start_date, end=end_date, interval="1mo")

    # Check if the DataFrame is not empty and contains data
    if not df_updated.empty:
        # Calculate monthly return based on adjusted close prices
        df_updated["Returns"] = df_updated["Adj Close"].pct_change()

        # Return the monthly return (ignoring the first NaN value)
        return df_updated["Returns"].iloc[
            -1
        ]  # Only return the return for the last date in the month


# Input DataFrame with tickers as rows and months as columns
months = pd.date_range(start="2023-01-01", periods=12, freq="MS").strftime(
    "%Y-%m-%d"
)  # Monthly columns for 2023
tickers = ["AAPL", "MSFT", "GOOG"]  # Example tickers
df_updated = pd.DataFrame(index=tickers, columns=months)

# Function to populate returns for each stock and month
for ticker in df_updated.index:
    for month in df_updated.columns[1:]:  # Skip the first column (e.g., Jan)
        df_updated.at[ticker, month] = get_returns(ticker, month)

# Display the filled table
print(df_updated)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

     2023-01-01 2023-02-01 2023-03-01 2023-04-01 2023-05-01 2023-06-01  \
AAPL        NaN        NaN        NaN        NaN        NaN        NaN
MSFT        NaN        NaN        NaN        NaN        NaN        NaN
GOOG        NaN        NaN        NaN        NaN        NaN        NaN

     2023-07-01 2023-08-01 2023-09-01 2023-10-01 2023-11-01 2023-12-01
AAPL        NaN        NaN        NaN        NaN        NaN        NaN
MSFT        NaN        NaN        NaN        NaN        NaN        NaN
GOOG        NaN        NaN        NaN        NaN        NaN        NaN

In [92]:
months = pd.date_range(start="2023-01-01", periods=12, freq="MS").strftime("%Y-%m-%d")
months

Index(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01',
       '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
       '2023-11-01', '2023-12-01'],
      dtype='object')

In [93]:
print(get_returns("AAPL", "2023-06-01"))

[*********************100%***********************]  1 of 1 completed

nan

In [94]:
### USE THISS

import yfinance as yf
import pandas as pd
from datetime import datetime


def get_returns(ticker, current_date):
    # Calculate the start of the year for the given date
    start_of_year = datetime(current_date.year, 1, 1)

    # Fetch data using yfinance
    data = yf.download(ticker, start=start_of_year, end=current_date, interval="1d")

    # Get the adjusted close price on the first day of the year
    start_price = data["Adj Close"].iloc[0]  # Price on the start of the year

    # Calculate the return as the percentage change from the start of the year
    current_price = data["Adj Close"].iloc[-1]  # Price on the current date

    pct_change = ((current_price / start_price) - 1) * 100  # Percentage change

    return pct_change


# Example of usage:
current_date = datetime.today()  # This will use today's date as the current month date
ticker = "AAPL"
print(
    f"Percentage change for {ticker} from the start of the year: {get_returns(ticker, current_date)}%"
)

[*********************100%***********************]  1 of 1 completed

Percentage change for AAPL from the start of the year: Ticker
AAPL    28.470534
dtype: float64%